<html>
    <head>
        <style type="text/css">
            body {
                color: #777A7C;
                font-family: Lato;
            }

            .entry_title {
                color: #CC6B1B;
                text-align: center;
            }
                        
            .trip_title {
                color: #56C6D2;
                text-align: center;
            }
            
            .trip_photo {
                display: inline-block;
                margin: 3px;
            }
            
            .entry {
                display: block;
            }
            
            p {
                white-space: pre-line;
            }

        </style>
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1 class="trip_title">{{tripName}}</h1>
        <p>
            {{{ customMessage }}}
        </p>
        {{{ itemsContent }}}
    </body>
</html>